<h2 class="heading">Stories from a far</h2>

<div class="row">
  <div class="columns">
    <h2 class="heading">Reveal (Modal)</h2>
    <p>A modal is just an empty container, so you can put any kind of content inside it, from text to forms to video to an entire grid.</p>

  </div>
</div>

<div class="row">
  {{#each stories}}

    <div class="columns">
      {{heading}}
      <p> <a data-open="storyModal{{id}}">
          <img class="smallImage" src="img/{{photoName}}.jpg" alt="Trolltunga Norway" ></a>
          <a href="likeOrUnlike/{{id}}">Like</a>

          {{likeCount}}

        </p>

      <div class="reveal" id="storyModal{{id}}" data-reveal>
      <p class = "picture"><img class="imgGrad" src="img/{{photoName}}.jpg" alt="Trolltunga Norway"></p>
        <h1>{{heading}}</h1>
        <p>{{content}}</p>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {{/each}}
  </div>
</div>
